<h1>psi import...</h1>
<p>
<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'csv_data', :class => "btn" %>
  <%= submit_tag "import CSV", :class => "btn btn-success" %>
<% end %>
</p>
<p>
<%= form_tag({action: :upload_pre_astro}, multipart: true) do %>
  <%= file_field_tag 'csv_data', :class => "btn" %>
  <%= submit_tag "import pre astro CSV", :class => "btn btn-success" %>
<% end %>
</p>
<hr />
<h2>Tools</h2>
<%= link_to "glob past midnight flights to previous day", :action => :glob_flights %>
<hr />
<p>
<%= link_to import_loaded_csv_path, 
  method: :import_loaded_csv,
  class: "btn btn-success" do %>
    import loaded CSV data below into logbook
<% end %>

<%= link_to reimport_psi_imports_path,
  method: :reimport_psi_imports,
  class: "btn btn-danger" do %>
    delete tables and re-import psi imports table
<% end %>
</p>
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <td>imported</td>
        <td>date</td>
        <td>tail</td>
        <td>dep</td>
        <td>arr</td>
        <td>block in</td>
        <td>block out</td>
        <td>total time</td>
        <td>pic</td>
        <td>sic</td>
      </tr>
      <% @psi_imports.each do |rec| %>
        <tr>
          <% if rec.imported %>
            <td class="success">Y</td>
          <% else %>
            <td class="danger">N</td>
          <% end %>
          <td><%= rec.date %></td>
          <td><%= rec.tail %></td>
          <td><%= rec.dep %></td>
          <td><%= rec.arr %></td>
          <td><%= rec.blockin %></td>
          <td><%= rec.blockout %></td>
          <td><%= rec.btime %></td>
          <td><%= rec.pic %></td>
          <td><%= rec.sic %></td>
        </tr>
      <% end %>
    </table>