<div class="container">
	<div class="col-md-8 col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Copy and paste the table below into the Monthly Expense Report</h2>
				<p>Values exported are date, tail number, airport identifiers, tips, remarks, crew meals and per diem hours.</p>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-condensed">
					<% @entries.each do |e| %>
					<tr>
						<!-- using Expense report 1/2016 -->
						<td><%= e.date.strftime("%m/%d/%Y") %></td>
						<td><%= e.tail %></td>
						<td><%= e.arpt_string %></td>
						<td></td><!-- hidden column -->
						<td></td><!-- catering -->
						<td></td><!-- travel exp. -->
						<td><%= e.tips %></td>
						<td></td><!-- other exp. -->
						<td><%= e.remarks %></td>
						<td><%= e.crew_meal %></td>
						<td><%= e.per_diem_hours == 24.0 ? "24" : e.per_diem_hours %></td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>