<% if @entry.errors.any? %>
<div class="panel panel-danger">
	<div class="panel-heading">
		<%= pluralize(@entry.errors.count, "error")%> detected:</br>
	</div>
	<div class="panel-body">
		<ul>
			<% @entry.errors.full_messages.each do |m| %>
			<li>
				<%= m %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

<%= form_for @entry do |f| %>
<div class="row">
	<div class="col-sm-1">
		<div class="form-group">
			<label>Seat:</label>
			<div class="radio role-radio">
				<label> <%= f.radio_button( :pic, true, :checked => true ) %>PIC </label>
				<label> <%= f.radio_button( :pic, false) %>SIC </label>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<%= f.label :date %>
			<%= f.date_field :date, :value => ( @entry.date.nil? ?
			Time.now.strftime("%Y-%m-%d") :
			@entry.date.strftime("%Y-%m-%d")),
			class: "form-control" %>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
			<div>
				<%= f.label :pd_start, "Per Diem start" %>
			</div>
			<div>
				<%= f.text_field :pd_start, :placeholder =>"HHMM(L)", class: "form-control", 'aria-describedby' => "pdhelp" %>
			</div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
			<div>
				<%= f.label :pd_end, "Per Diem end" %>
			</div>
			<div>
				<%= f.text_field :pd_end, :placeholder =>"HHMM(L)", class: "form-control" %>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<span id="helpBlock", class="help-block">Per Diem hours (HHMM) - leave blank for 24 hours.</span>

		<!-- TODO - extract per diem from flight hours -->
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
		  <div>
		    <%= f.label :aircraft %>
		  </div>
		  <div class="dropdown">
        <%= f.collection_select :aircraft_id, Aircraft.order(:tail), :id, :tail, { :selected => @entry.aircraft.id }, { :class => "form-control" } %>
      </div>
		</div>
	</div>
	<div class="col-sm-4">
		<% if @user.def_flight_number.nil? %>
			<div class="form-group">
			<div>
				<%= f.label :flight_number %>
			</div>
		<% else %>
			<div class="form-group has-warning">
			<div>
				<%= f.label :flight_number, class: "control-label" %> with pattern: <%= @user.def_flight_number %>
			</div>
		<% end %>
			<div>
				<%= f.text_field :flight_number, class: "form-control" %>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div>
				<%= f.label :crew_name, "Crew name" %>
			</div>
			<div>
				<%= f.text_field :crew_name, class: "form-control" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		<div class="form-group">
			<div>
				<%= f.label :crew_meal %>
			</div>
			<div>
				<%= f.number_field :crew_meal, maxlength: 1, class: "form-control" %>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<div>
				<%= f.label :tips %>
			</div>
			<div class="input-group">
				<div class="input-group-addon">
					$
				</div>
				<%= f.number_field :tips, maxlength: 1, class: "form-control" %>
				<div class="input-group-addon">
					.00
				</div>
			</div>
		</div>
		<div class="form-group">
			<div>
				<%= f.label :travel_expenses %>
			</div>
			<div class="input-group">
				<div class="input-group-addon">
					$
				</div>
				<%= f.number_field :travel_expenses, maxlength: 1, class: "form-control" %>
				<div class="input-group-addon">
					.00
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-7">
		<div class="form-group">
			<%= f.label :remarks %>
			<%= f.text_area :remarks, class: "form-control" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<%= f.submit :class => "btn btn-success" %>
		<% unless @entry.new_record? %>
			<%= link_to entry_path(@entry.id),
				method: :delete,
				data: { confirm: 'Are you sure? This cannot be undone!' },
				class: "btn btn-danger" do %>
					delete this entry and it's flights
			<% end %>
		<% else %>
			<%= f.submit "Create entry and add flights", :class => "btn btn-success" %>
		<% end %>
		<%= link_to "back to entry listing", root_path, class: "btn btn-primary"%>
	</div>
</div>
<% end %>
