<div class="panel panel-default">
	<div class="panel-heading">
		<h3><%= @entry.tail %> on <%= @entry.nice_date %></h3>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Flights for <%= @entry.nice_date %>:</h3>
	</div>
	<div class="panel-body">
		<%= render 'flights/flights'%>
	</div>
</div>
