<h2>flights:</h2>
<table class="flight_listing">
	<tr>
		<th colspan="8">
			Flight times
		</th>
		<th colspan="5">
			Currency
		</th>
	</tr>
	<tr>
		<th></th>
		<th></th>
		<th>PF</th>
		<th>dep:</th>
		<th>arr:</th>
		<th>blockout</th>
		<th>blockin</th>
		<th>total time</th>
		<th>ifr</th>
		<th>appr</th>
		<th>night</th>
		<th>n.t.o.</th>
		<th>n.ldg</th>
	</tr>
	<% @flights.each do |f| %>
		<tr>
			<td><%= link_to image_tag('pencil-2x.png'), 
						edit_entry_flight_path(@entry.id, f.id) %></td>
			<td><%= link_to image_tag('delete-2x.png'), 
						entry_flight_path(@entry.id, f.id), 
						method: :delete,
						data: { confirm: 'Are you sure?' } %></td>
			<td><%= f.pf ? "X" : "" %></td>
			<td><%= f.dep %></td>
			<td><%= f.arr %></td>
			<td><%= f.blockout %></td>
			<td><%= f.blockin%></td>
			<td><%= f.total_time%></td>
			<td><%= f.instrument %></td>
			<td><%= f.approaches %></td>
			<td><%= f.night %></td>
			<td><%= f.night_to %></td>
			<td><%= f.night_ld %></td>
		</tr>
	<% end %>
	<tr>
		<th colspan="100%">
			<%= link_to 'add a new flight...', new_entry_flight_path(@entry.id) %>
		</th>
	</tr>
</table>