<table class="table table-condensed table-striped table-bordered">
	<tr>
		<th colspan="2"></th>
		<th colspan="6">
			Flight times
		</th>
		<th colspan="5">
			Currency
		</th>
	</tr>
	<tr>
		<th></th>
		<th></th>
		<th>PF</th>
		<th>dep:</th>
		<th>arr:</th>
		<th>blockout</th>
		<th>blockin</th>
		<th>total time</th>
		<th>ifr</th>
		<th>appr</th>
		<th>night</th>
		<th>n.t.o.</th>
		<th>n.ldg</th>
	</tr>
	<% @flights.each do |f| %>
		<tr>
			<td><%= link_to edit_entry_flight_path(f.entry_id, f.id), class: "btn-sm btn-primary" do%>
					<span class="glyphicon glyphicon-edit"></span>
				<% end %></td>
			<td><%= link_to entry_flight_path(f.entry_id, f.id), 
						method: :delete,
						data: { confirm: 'Are you sure?' },
						class: "btn-sm btn-danger" do %>
							<span class="glyphicon glyphicon-remove"></span>
						<% end %>
			</td>
			<td><%= f.pf ? "X" : "" %></td>
			<td><%= f.dep %></td>
			<td><%= f.arr %></td>
			<td><%= f.blockout %></td>
			<td><%= f.blockin%></td>
			<td><%= f.total_time%></td>
			<td><%= f.instrument %></td>
			<td><%= f.approaches %></td>
			<td><%= f.night %></td>
			<td><%= f.night_to %></td>
			<td><%= f.night_ld %></td>
		</tr>
	<% end %>
	<tr>
		<th colspan="100%">
			<%= link_to 'add a new flight...', new_entry_flight_path(@entry.id), class: "btn-sm btn-success" %>
		</th>
	</tr>
</table>