<div class='col-lg-4'>
	<table class='table table-bordered'>
	  <thead class='bg-primary'>
	  	<tr>
	    	<td scope='col-md-3'>tail</td>
	    	<td scope='col-md-3'>model</td>
	    	<td scope='col-md-1'>multi</td>
	    	<td scope='col-md-1'>turbine</td>
	    	<td scope='col-md-1'>turboprop</td>
	    </tr>
	  </thead>
	  <% @aircrafts.each do |ac| %>
	    <tr>
	      <td class='col-md-3'>
	        <%= link_to ac.tail, edit_aircraft_path(ac) %>
	      </td>
	      <td class='col-md-3'>
	        <%= ac.ac_model %>
	      </td>
	      <td class='col-md-1'>
	        <%= ac.multi %>
	      </td>
	      <td class='col-md-1'>
	        <%= ac.turb %>
	      </td>
	      <td class='col-md-1'>
	        <%= ac.turboprop %>
	      </td>
	    </tr>
	  <% end %>
	</table>
</div>