	<%= form_for(@user) do |f| %>
	<%= render 'layouts/error_messages' %>
	<div class="form-group">
		<%= f.label :name, "Name" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :email, "Email address" %>
		<%= f.text_field :email, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :password, "Password" %>
		<%= f.password_field :password, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :password_confirmation, "Password confirmation" %>
		<%= f.password_field :password_confirmation, class: "form-control" %>
	</div>
	<% unless @user.new_record? %>
	<div class="panel panel-default">
		<div class="panel-heading">
			Defaults
		</div>
		<div class="panel-body">
			<div class="form-group">
				<%= f.label :def_tail_number, "Tail Number Pattern" %>
				<%= f.text_field :def_tail_number, class: "form-control" %>
				<span id="helpBlock" class="help-block">E.g. Enter 'N*AF' and on Entry forms, you would only type '708'
					for 'N708AF'. </span>
			</div>
			<div class="form-group">
				<%= f.label :def_flight_number, "Default Flight Number Pattern"%>
				<%= f.text_field :def_flight_number, class: "form-control" %>
				<span id="helpBlock" class="help-block">E.g. Enter 'CNS*' so on Entry forms you only have to type '976'
					for 'CNS976'.</span>
			</div>
		</div>
	</div>
	<% end %>
	<%= f.submit :class => "btn btn-success" %>
	<% end %>
