<% unless params[:controller] == 'airports' %>
	<%= link_to 'view by entries', root_path %> | 
	<%= link_to 'view combined', root_path(:view => 'combined') %>
<% end %>
<%= will_paginate @flights %>
<table class="table table-striped table-condensed table-bordered">
  <tr>
    <td>date</td>
    <td>model</td>
    <td>tail</td>
    <td>dep</td>
    <td>arr</td>
    <td>block out</td>
    <td>block in</td>
    <td>night</td>
    <td>instrument</td>
    <td>approaches</td>
    <td>XC</td>
    <td>PIC</td>
    <td>SIC</td>
  </tr>
  <% @flights.each do |f| %>
    <tr>
      <td><%= link_to f.entry.date.strftime('%m-%d-%y'), edit_entry_path(f.entry_id) %></td>
      <td><%= f.entry.aircraft.ac_model %></td>
      <td><%= f.entry.aircraft.tail %></td>
      <td><%= f.dep.icao %></td>
      <td><%= f.arr.icao %></td>
      <td><%= f.blockout %></td>
      <td><%= f.blockin %></td>
      <td><%= f.night %></td>
      <td><%= f.instrument %></td>
      <td><%= f.approaches %></td>
      <td>
        <% if f.xc %>
          <%=  f.block_time %>
        <% end %>
      </td>
        <td>
          <% if f.entry.pic %>
            <%= f.block_time %>
          <% end %>
        </td>
        <td>
          <% if f.entry.pic == false %>
            <%= f.block_time %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<%= will_paginate @flights %>