<p>
  <%= link_to 'new entry', new_entry_path, class: "btn btn-success" %>
</p>
<!-- Totals: total, pic, sic, multi, multi pic -->
<table class='table table-bordered'>
	<thead class='bg-primary'>
		<tr>
			<td scope='col'>Total</td>
			<td scope='col'>PIC</td>
			<td scope='col'>SIC</td>
			<td scope='col'>Multi</td>
			<td scope='col'>Multi-Turbine PIC</td>
		</tr>
	</thead>
	<tr>
		<td><%= p @totals.time %></td>
		<td><%= p @totals.pic %></td>
		<td><%= p @totals.sic %></td>
		<td><%= p @totals.multi %></td>
		<td><%= p @totals.multi_turbine_pic %></td>
	</tr>
</table>
<% case params[:view] %>
<% when 'flights'  %>
  <%= render 'flights' %>
<% when 'combined' %>
  <%= render 'combined' %>
<% else %>
  <%= render 'entries' %>
<% end %>