<p>
  Total flight hours to date: <%= p @totals.time %><br>
  PIC: <%= p @totals.pic %><br>
  SIC: <%= p @totals.sic %><br>
  Instrument:<%= p @totals.instrument %><br>
  Night: <%= p @totals.night %>
</p>
<p>
  <%= link_to 'new entry', new_entry_path, class: "btn btn-success" %>
  </p>

  <% case params[:view] %>
  <% when 'flights'  %>
    <%= render 'flights' %>
  <% when 'combined' %>
    <%= render 'combined' %>
  <% else %>
    <%= render 'entries' %>
  <% end %>
