<p>
  Total flight hours to date: <%= p @totals.time %><br>
  PIC: <%= p @totals.pic %><br>
  SIC: <%= p @totals.sic %><br>
  Instrument:<%= p @totals.instrument %><br>
  Night: <%= p @totals.night %><br>
  Cross Country: <%= p @totals.xc %><br>
  Turbine PIC: <%= p @totals.turbine_pic %><br>
  Jet: <%= p @totals.jet %><br>
  Turbine: <%= p @totals.turbine %><br>
  Multi: <%= p @totals.multi %><br>
</p>
<p>
  <%= link_to 'new entry', new_entry_path, class: "btn btn-success" %>
  </p>

  <% case params[:view] %>
  <% when 'flights'  %>
    <%= render 'flights' %>
  <% when 'combined' %>
    <%= render 'combined' %>
  <% else %>
    <%= render 'entries' %>
  <% end %>
