<table class="table table-striped table-condensed table-bordered">
  <thead>
    <td>date</td>
    <td>model</td>
    <td>tail</td>
    <td>dep</td>
    <td>arr</td>
    <td>block out</td>
    <td>block in</td>
    <td>night</td>
    <td>instrument</td>
    <td>approaches</td>
    <td>XC</td>
    <td>SE PIC</td>
    <td>SE SIC</td>
    <td>ME PIC</td>
    <td>ME SIC</td>
    <td>SE Turb.</td>
    <td>SE Turb.</td>
  </thead>
  
  <% n = 1 %>
  <% @tot = Totals.new %> 
  
  
  <% @flights.each do |f| %>
    <% pageTotals = PageTotals.new %>
    <tr>
      <td><%= f.entry.date.strftime('%m-%d-%Y') %></td>
      <td><%= f.entry.ac_model %></td>
      <td><%= f.entry.tail %></td>
      <td><%= f.dep %></td>
      <td><%= f.arr %></td>
      <td><%= f.blockout %></td>
      <td><%= f.blockin %></td>
      <td><%= f.night %>
        <% pageTotals.night += f.night %>
      </td>
      <td><%= f.instrument %></td>
      <td><%= f.approaches %></td>
      <td>
        <% if f.xc %>
          <%=  f.block_time %>
        <% end %>
      </td>
        <td>
          <% if f.entry.pic %>
            <%= f.block_time %>
            <% pageTotals.pic += f.block_time %>
          <% end %>
        </td>
        <td>
          <% if f.entry.pic == false %>
            <%= f.block_time %>
          <% end %>
        </td>
          <!-- ME PIC -->
          <td>
  <% if f.entry.ac_model.start_with? 'BE400' or 'PA44' and f.entry.pic %>
    <%= f.block_time %>
  <% end %>
  </td>
  <!-- ME SIC -->
  <td>
  <% if f.entry.ac_model.start_with? 'BE400' and f.entry.pic == false %>
    <%= f.block_time %>
  <% end %>
  </td>
  <!-- SE Turb -->
  <td>
  <% if f.entry.ac_model.start_with? 'PC12' %>
    <%= f.block_time %>
  <% end %>
  </td>
  <!-- ME Turb -->
  <td>
  <% if f.entry.ac_model.start_with? 'BE400' %>
    <%= f.block_time %>
  <% end %>
  </td>
      </tr>
      
      <% n += 1 %>
      
    <% end %>
    <% if n == 20 %>
    <tfoot>
      <!-- <tr>
        <td>Totals:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>night</td>
        <td>instrument</td>
        <td>approaches</td>
        <td>XC</td>
        <td>PIC</td>
        <td>SIC</td>
      </tr> -->
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>night</td>
        <td>instrument</td>
        <td>approaches</td>
        <td>XC</td>
        <td><%= pageTotals.pic %></td>
        <!-- <td><%= @flights.map{|flight| flight.block_time}.reduce(0, :+).round(1) %></td> -->
        <td>SIC</td>
      </tfoot>
      <% end %>
  </table>
  
  
  <!--page,Date,Model,Tail,Dep,Arr,Block Out,Block In,Night,Instr.,Appr,XC,SE PIC,SE SIC,ME PIC,ME SIC,SE Turb.,ME Turb.</br>
<% n = 1 %>
<% p = 1 %>
<% @flights.each do |f| %>
  <% if n == 33 %>
    <% p += 1 %>
    <% n = 1 %>
  <% end %>
  <%= p %>,
  <%= f.entry.date.strftime('%m-%d-%Y') %>,
  <%= f.entry.ac_model %>,
  <%= f.entry.tail %>,
  <%= f.dep %>,
  <%= f.arr %>,
  <%= f.blockout %>,
  <%= f.blockin %>,
  <%= f.night %>,
  <%= f.instrument %>,
  <%= f.approaches %>,
  <% if f.xc %>
      <%=  f.block_time %>
  <% end %>,
  <% if f.entry.pic and !f.entry.ac_model.start_with? 'BE400' %>
    <%= f.block_time %>
  <% end %>,  
  SE SIC

  <% if f.entry.pic == false and !f.entry.ac_model.start_with? 'BE400'  %>
    <%= f.block_time %>
  <% end %>,
  ME PIC
  <% if f.entry.ac_model.start_with? 'BE400' and f.entry.pic %>
    <%= f.block_time %>
  <% end %>,
  ME SIC
  <% if f.entry.ac_model.start_with? 'BE400' and f.entry.pic == false %>
    <%= f.block_time %>
  <% end %>,
  SE Turb
  <% if f.entry.ac_model.start_with? 'PC12' %>
    <%= f.block_time %>
  <% end %>,
  ME Turb
  <% if f.entry.ac_model.start_with? 'BE400' %>
    <%= f.block_time %>
  <% end %>
  </br>
  <% n += 1 %>
<% end %>
-->