<header>
	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<div class='container-fluid'>
		<%= link_to 'big logbook title thing', root_path, class: 'navbar-brand', id: "logo" %>
			<ul class='navbar-nav me-auto mb-2 mb-lg-0 justify-content-end'>
				<li class='nav-item'>
					<%= link_to 'home', root_path, class: 'nav-link' %>
				</li>
				<% if logged_in? %>
				  <li class='nav-item'>
						<%= link_to 'aircraft', aircraft_index_path, class: 'nav-link' %>
					</li>
					<li class='nav-item dropdown'>
						<a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            	tools
          	</a>
						<ul class='dropdown-menu dropdown-menu-right' aria-labelledby='toolsDropdown'>
							<li class='dropdown-item'><%= link_to 'tools', tools_path, class: 'nav-link' %>
							<li class='dropdown-item'><%= link_to 'import/export', io_path, class: 'nav-link' %></li>
							<li class='dropdown-item'><%= link_to 'print', print_path, class: 'nav-link' %></li>
							<li class='dropdown-item'><%= link_to @current_user.email, edit_user_path(@current_user), class: 'nav-link' %></li>
						</ul>
					</li>
					<% if current_user.admin? %>
						<li class='nav-item'><%= link_to 'admin', admin_path, class: 'nav-link' %></li>
					<% end %>
					<li class='nav-item'><%= link_to 'log out', logout_path, method: "delete", class: 'nav-link' %></li>
				<% else %>
					<li class='nav-item'><%= link_to 'sign up', new_user_path, class: 'nav-link' %></li>
					<li class='nav-item'><%= link_to 'login', login_path, class: 'nav-link' %></li>
				<% end %>
			</ul>
		</div>
	</nav>
</header>