<!DOCTYPE html>
<html>
	<head>
		<title>Logbook</title>
		<%= stylesheet_pack_tag 'application', media: 'all' %>
		<%= javascript_pack_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
  	<% unless current_page?(print_path) %>
  		<%= render 'layouts/header' %>
  	<% end %>
		<div class="container">
			<% if flash[:partial] %>
				<%= render partial: "#{flash[:partial]}" %>
			<% else %>
				<% flash.each do |msg_type, msg| %>
				<div class="alert alert-<%= msg_type %>">
					<%= msg %>
				</div>
				<% end %>
			<% end %>
			<%= yield %>
		</div>
		<!-- footer TODO -->
	</body>
</html>
