<!DOCTYPE html>
<html>
<head>
  <title>Logbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !on_trip_sheet_page %>
	<%= render partial: '/layouts/header' %>
<% end %>
<%= yield %>
<% if !on_trip_sheet_page %>
	<%= render partial: '/layouts/footer' %>
<% end %>
</body>
</html>
